.navbar-brand
{
    color: #ff0008;
}
/* music page image position */
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #000000;
}
/* home page animation */
#this{
  background: #000000;
  position: relative;
  animation: mymove 5s;
  animation-iteration-count: 1;
}
@keyframes mymove {
  from {left: -390px;}
  to {left: 0px;}
}
/* color red redirect href */
a[target] {
  color: #ff0008;
}
p.test{
  color: #0ef0c7;
  font-size:29px;
}
/* allign text */
.centertxt{
  text-align: center;
}
/* color red redirect href */
a[href^="javascript:Alert();"]
{
   color: #ff0008;
}
/* allign image  */
.centerimg{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.centerimg1{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
.image {
    float: left;
    border: 1px solid black;
    margin: 5px 10px 10px 0px;
}
/* about me page color scheme */
.amtxt1 {
  font-size:40px;
  color:#77db48;
}
.amtxt2 {
  font-size:29px;
  color:#423cb5;
}
